:root {

    /* FONTS */
    --primary-font: 'lobster';
    --secondary-font: 'mooli-regular';

    /* COLORS */
    --light-grey: #f1f1f6;
    --medium-grey: #e6e6eb;
    --blue: #0079ff;
    --light-red: #c65049;

}

@font-face {
    font-family: 'lobster';
    src: url('../fonts/Lobster-Regular.ttf');
}

@font-face {
    font-family: 'mooli-regular';
    src: url('../fonts/Mooli-Regular.ttf');
}

body {
    font-family: var(--secondary-font);
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: var(--primary-font);
    font-size: 2.5rem;
    margin: 30px;
}

h2 {
    font-size: 1.2rem;
    margin: 10px;
}

.alert {
    color: red;
}

.alert span {
    font-size: 2rem;
}

.task-container {
    background-color: var(--light-grey);
    padding: 10px;
    margin: 20px;
    border-radius: 30px;
}

.task-container:hover {
    background-color: var(--medium-grey);
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-utils {
    display: flex;
}

.task-utils li {
    padding: 5px;
}

.task-add {
    position: sticky;
    bottom: 0;
    margin: 30px;
    width: 100%;
}

.task-form {
    margin: auto;
}

.date,
.task-name {
    font-family: var(--secondary-font);
    font-size: 1rem;
    padding: 10px;
    border-radius: 30px;
}

.alarm {
    font-size: 0.7rem;
    color: var(--light-red);
}

.task-valid {
    background-color: var(--blue);
    padding: 10px;
    border-radius: 30px;
    min-width: 40px;
}

.delete {
    background-color: var(--medium-grey)
}

.theme-container {
    margin: 20px;
}

.arrow-back {
    font-size: 2rem;
}

.task-valid:hover {
    background-color: #3292ff;
}

.theme-utils {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}

.notif {
    font-size: 1.2rem;
    margin: auto;
    width: 30%;
    padding: 20px;
    border-radius: 30px;
}

.theme {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.theme-name {
    font-family: var(--secondary-font);
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
}

.theme-name:hover {
    background-color: #3292ff;
}

.bg-blue {
    background-color: #3292ff;
}

.task-theme {
    border: solid black 1px;
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
}

.task-alarm {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.task-back {
    border: none;
    font-size: 1.7rem;
}

.done-time {
    color: var(--blue);
}

.connexion-link {
    position: absolute;
    top: 30px;
    right: 20px;
}

.connexion-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
}

.hidden {
    display: none;
}

/* NAV */
/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: var(--medium-grey);
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 10px 30px;
    margin: 10px;
    font-size: 1.2rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    border-bottom: solid black 2px;
  }

  .sidenav .close {
    border-bottom: none;
  }
  
  .sidenav a:hover {
    color: var(--blue);
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon {
    display: block;
    font-size: 3rem;
    width: 35px;
    height: 5px;
    margin: 6px 0;
  }